name: CI

on:
  push:
    branches: [ "**" ]
    tags: [ v* ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    strategy:
      matrix:
        java:
          - name: AdoptOpenJDK 8
            version: adopt@1.8
          - name: AdoptOpenJDK 11
            version: adopt@1.11
    name: With ${{ matrix.java.name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: ${{ matrix.java.version }}
      - uses: coursier/cache-action@v6
      - name: Lint
        run: sbt scalafmtCheckAll
      - name: Test
        run: sbt tests/test
  publish:
    name: Publish release
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
    needs: [build]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v14
      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}